---
title: Mini Pixel Art Editor
---

<div id='title'>
  <img src="images/title.png" alt="Mini Pixel Art Editor">
</div>

<div id='options'>
  <ul>
    <li> <a href="#">NEW CANVAS</a> </li>
    <li> <a href="#">USE ERASER</a> </li>
    <li> <a href="#">DOWNLOAD</a> </li>
  </ul>
</div>

<canvas id='editor' width="640" height="380">
</canvas>

<div id='tools'>
  <div id='colors'></div>
</div>
